/*--------Body-------*/
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  background-color: #fff7f7;
}
/*-------------------*/


/*-------Navbar------*/
.nav {
  /*height: 70px;*/
}

.nav ul{
  font-size: 100%;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #384454;
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 60px;
  line-height: 60px;
  padding: 0px 30px;
}

.active{
  background-color: #7A90A4;
}

.nav li:hover {
  background: #eeeeee;
  transition: background .3s;
}

.nav li a{
  color: #fff;
  text-decoration: none;
  font-size: 20pt;
}
/*--------------------*/


/*------Container-----*/
.paper{
  background-color: white;
  width: 70vw;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  /*margin: 80px 600px 80px 610px;*/
  /*padding: 60px 86px 40px 86px;*/
  font-family: Arial;
  border: 2px solid #6B728E;
  text-align: center;
}

.paper h1{
  padding-top: 10px;
  padding-bottom: 20px;
}

.paper .img-illustration{
  width: 400px;
}
/*--------------------*/


.accroche-a{
  color: #ff9f43;
  font-weight: bold;
}


.img-illustration{
  width: 500px;
}


.nav-competences{
  text-align: left;
  font-family: Comic Sans MS;
  text-align: center;
}

.nav-competences-p{
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-competences h3{
  font-weight: bold;
  text-decoration: underline;
}

.img-competences{
  padding-left: 15px;
  width: 10%;
  text-align: center;
}




@media only screen and (max-width: 800px) {
  .nav{
    width: 100vw;
  }

  .nav li{
    display: block;
  }

  .img-illustration{
  width: 20%;
  }

  .paper{
    width: 100vw;

  }

  .img-competences{
    width: 20%;
  }

  .img-illustration{
    width: 60%;
  }



/* j'ai fait un CSS basique, le but étant de montrer la technique pour colorer le fond de l'étoile 1 si on est sur la 1ère étoile, les étoiles 1 et 2 si on est sur la 2ème étoile, etc */
.C2etoiles{
    background: red;
    display: inline-block;
    cursor: pointer;
}
.C2etoiles:hover{
    background: green;
}
.C2etoiles div{
    display: inline-block;
    padding: 5px;
}
.C2etoiles div::after{
    content:"\002605"; /* une étoile en Unicode */
}